@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

@keyframes animateFromBottom {
  from {
    transform: translate3d(0, 10px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes animateToBottom {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 10px, 0);
    opacity: 0;
  }
}

@keyframes rotateArrow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #eaeaea;
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
}

.pattern-mobile,
.illustration-box {
  display: none;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 920px;
  height: 509px;
  flex-shrink: 0;
  border-radius: 23px;
  color: #000000;
  background: #fff;
  font-family: "Kumbh Sans", sans-serif;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.5);
}

#leftSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 509px;
  background: url(components/images/illustration-woman-online-desktop.svg),
    url(components/images/bg-pattern-desktop.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: 506px 391px, 964px 890px;
  background-position: left -91px top 30px, left -546px top -279px;
}

.box {
  position: relative;
  top: 17px;
  left: -228px;
}

#rightSection {
  width: 50%;
  height: 509px;
}

h1 {
  color: #1e1f36;
  font-family: Kumbh Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 70px;
  margin-bottom: 45px;
}

.questions {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  gap: 18px;
}

.dropdown-menu {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  width: 380px;
  border-bottom: 1px solid #e8e8ea;
}

.menu-btn {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 380px;
  margin-bottom: 13px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #4b4c5f;
  font-family: Kumbh Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.drop_container {
  display: none;
  margin-bottom: 16px;
  animation: animateFromBottom 0.3s;
  color: #787887;
  font-family: Kumbh Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.drop_container.show {
  display: block;
}

.drop_container.show.animate-out {
  animation: animateToBottom 0.3s;
}

.drop_container > .item {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  padding: 10px 0px 0px 0px;
}

.rotate {
  animation: rotateArrow 0.3s ease-in-out forwards;
}

.menu-btn:hover {
  color: hsl(14, 88%, 65%);
}

.attribution {
  text-align: center;
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  color: hsl(240, 5%, 91%);
  margin-top: 10px;
}

.attribution a {
  color: hsl(240, 5%, 91%);
  text-decoration: none;
}

a:visited {
  color: hsl(240, 5%, 91%);

  text-decoration: none;
}

a:hover {
  color: hsl(14, 88%, 65%);
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #eaeaea;
    font-family: "Kumbh Sans", sans-serif;
    background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
  }

  .pattern-mobile {
    display: flex;
    position: relative;
    top: 65px;
    width: 250px;
    height: 106px;
    flex-shrink: 0;
  }

  .illustration-box {
    position: relative;
    display: flex;
    width: 237px;
    height: 180px;
    top: -146px;
    flex-shrink: 0;
  }

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 327px;
    height: 535px;
    flex-shrink: 0;
    border-radius: 23px;
    background: #fff;
    box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.5);
  }

  #leftSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 169px;
    height: 53px;
    background: none;
  }

  .box {
    display: none;
  }

  #rightSection {
    display: inline-flex;
    width: 300px;
    height: 355px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    flex-shrink: 0;
    margin-top: 28px;
    margin-bottom: 0px;
  }

  h1 {
    color: #1e1f36;
    font-family: Kumbh Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .questions {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    gap: 18px;
  }

  .questions {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    gap: 18px;
  }

  .dropdown-menu {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    width: 279px;
    border-bottom: 1px solid #e8e8ea;
  }

  .menu-btn {
    width: 279px;
    cursor: pointer;
    color: #4b4c5f;
    font-family: Kumbh Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 13px;
  }

  .drop_container {
    display: none;
    margin-bottom: 16px;
    animation: animateFromBottom 0.3s;
    color: #787887;
    font-family: Kumbh Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }

  .drop_container.show {
    display: block;
  }

  .drop_container.show.animate-out {
    animation: animateToBottom 0.3s;
  }

  .drop_container > .item {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding: 10px 0px 0px 0px;
  }

  .rotate {
    animation: rotateArrow 0.3s ease-in-out forwards;
  }

  .attribution {
    text-align: center;
    font-size: 10px;
    font-family: "Kumbh Sans", sans-serif;
    color: hsl(240, 5%, 91%);
    margin-top: 10px;
  }
}
